*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Generics */

header{
    height: 80px;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

ul li{
    list-style: none;
}
/* header */


.fixed-container{
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.2);
    
}


#navbar{
    height: 80px;
    padding: 0 200px;
    background-color: #ff6900;
    display: flex;
    align-items: center;
}

#navbar > div{
    height: 40px;
}

#navbar .target{
    width: 25%;
    line-height: 40px;
    vertical-align: middle;
}



#navbar .logo{
    width: 50%;
    display: flex;
    justify-content: center;
}


.logo img{
    height: 40px;
}

#navbar .user-section{
    width: 25%;
    line-height: 40px;
    vertical-align: middle;
    text-align: right;
}


/* Main */

.container{
    min-width: 700px;
    min-height: 200px;
    margin: 50px 200px;
    padding: 30px 0;
}

.row{
    min-height: 400px;
    display: flex;
    margin: 20px -10px;
}

article{
    width: calc(100% / 3);
    min-height: 300px;
    padding: 0 10px;
    
}

/* Images */


.image{
    position: relative;
    
}

.image img{
    width: 100%;
}

.defaultimg-first:hover{
    content: url(../img/1b.webp);
}


.defaultimg-second:hover{
    content: url(../img/2b.webp);
}

.defaultimg-third:hover{
    content: url(../img/3b.webp);
}

.defaultimg-fourth:hover{
    content: url(../img/4b.webp);
}

.defaultimg-fifth:hover{
    content: url(../img/5b.webp);
}

.defaultimg-sixth:hover{
    content: url(../img/6b.webp);
}


/* article elements */

.overimage{
    position: absolute;
    bottom: 30px;
    left: 0;
}

.discount{
    background-color: red;
    padding: 5px 10px;
    display: inline-block;
}

.sustainability{
    background-color: green;
    padding: 5px 10px;
    display: inline-block;
}

.heart{
    font-size: 28px;
    background-color: white;
    padding: 10px 15px;
    position: absolute;
    top: 10px;
    right: 0;
}

.heart:hover{
    color: red;
}

.brand-item .brand{
    font-size: 14px;
}

.brand-item .item-name{
    font-size: 18px;
}

.brand-item .price{
    font-size: 14px;
}

.price .red{
    color: red;
}

.price .original-price{
    text-decoration: line-through;
}

/* Footer */

footer{
    height: 100px;
    background-color: #1a1a1a;
}

.footer-navbar{
    height: 100px;
    margin: 0 200px;
    background-color: darkkhaki;
    display: flex;
}

.footer-navbar > div{
    width: 50%;
    height: 100px;
    background-color: darkred;
    border: 1px solid black;
}