*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

header{
    height: 80px;
    background-color: #ff6900;
}

/* header */


.fixed-container{
    height: 80px;
}


#navbar{
    height: 80px;
    margin: 0 200px;
    background-color: aquamarine;
    display: flex;
}

#navbar > div{
    height: 80px;
    background-color: goldenrod;
    border: 1px solid black;
}

#navbar .target{
    width: 25%;
}

#navbar .logo{
    width: 50%;
}

#navbar .user-section{
    width: 25%;
}


/* Main */

.container{
    min-width: 700px;
    min-height: 200px;
    margin: 50px 200px;
    background-color: darkgray;
    padding: 30px 0;
}

.row{
    min-height: 400px;
    background-color: darkorange;
    display: flex;
}

article{
    width: calc(100% / 3);
    min-height: 300px;
    background-color: darkorchid;
    border: 1px solid black;
}



/* Footer */

footer{
    height: 100px;
    background-color: #1a1a1a;
}

.footer-navbar{
    height: 100px;
    margin: 0 200px;
    background-color: darkkhaki;
    display: flex;
}

.footer-navbar > div{
    width: 50%;
    height: 100px;
    background-color: darkred;
    border: 1px solid black;
}