*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Generics */

header{
    height: 80px;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

/* header */


.fixed-container{
    height: 80px;
    width: 100%;
    position: fixed;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.2);
    
}


#navbar{
    height: 80px;
    padding: 0 200px;
    background-color: #ff6900;
    display: flex;
    align-items: center;
}

#navbar > div{
    height: 40px;
}

#navbar .target{
    width: 25%;
    line-height: 40px;
    vertical-align: middle;
}



#navbar .logo{
    width: 50%;
    display: flex;
    justify-content: center;
}


.logo img{
    height: 40px;
}

#navbar .user-section{
    width: 25%;
    line-height: 40px;
    vertical-align: middle;
    text-align: right;
}


/* Main */

.container{
    min-width: 700px;
    min-height: 200px;
    margin: 50px 200px;
    background-color: darkgray;
    padding: 30px 0;
}

.row{
    min-height: 400px;
    background-color: darkorange;
    display: flex;
}

article{
    width: calc(100% / 3);
    min-height: 300px;
    background-color: darkorchid;
    border: 1px solid black;
}



/* Footer */

footer{
    height: 100px;
    background-color: #1a1a1a;
}

.footer-navbar{
    height: 100px;
    margin: 0 200px;
    background-color: darkkhaki;
    display: flex;
}

.footer-navbar > div{
    width: 50%;
    height: 100px;
    background-color: darkred;
    border: 1px solid black;
}